page-services {

    .imageConfig{
        max-width: 200px;
        position: relative;
        left: 41%;
    }

    .setIcon{
        font-size: 70%;
    }

    [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {

        font-size: 50px;
        // color: color($colors, garageMain);
        }

    .setCard{
        padding: 10%;
    }

    .active{
        background-color: color($colors, garageMain);
        color: white;
    }
}
