page-carsize {

    .imageConfig{
        max-width: 200px;
        position: relative;
        left: 41%;
    }

    .active{
        background-color: color($colors, garageMain);
        color: white;
    }

    [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {

        font-size: 50px;
        // color: color($colors, garageMain);
        }

}
